
/* Header Css Start */
header {
    background: var(--b1-color);
    padding: 20px 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}
header .headerContent .logo a{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 800;
    font-family: 'Poppins';
    font-size: 25px;
    text-decoration: none;
}
header .headerContent .logo img {
    max-width: 50px;
    width: 100%;
}
header .headerContent .logo p {
    margin-bottom: 0;
}
header .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .headerContent .navContent nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin: 0;
}
header .headerContent .navContent nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}
header .headerContent .navContent nav ul li a.link-active {
    background: #404349;
    border-radius: 25px 0 25px 0;
}
header .headerContent .navContent {
    display: flex;
    gap: 20px;
}
header .headerContent .navContent .contactBtn a {
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
}
button.hamburger{
    display: none;
}
header .headerContent .navContent nav ul li:last-of-type a {
    border-radius: 8px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    background: #404349;
}
/* Header Css End */
@media(max-width:1160px){
    button.hamburger{
        display: block;
    }
    header .navContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header nav {
        display: none;
    }
    
    header nav.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #2a2e34;
        transition: all 0.3s ease-in-out;
    
    }
    header .headerContent .navContent nav ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    }
}
@media(max-width: 767px){
    header .container{
        padding: 0 15px;
    }
    header .headerContent .navContent nav ul a{
        font-size: 20px;
    }
}